html {
	background:#222;
	margin:auto;
	width:80%;
}

body{
	background: linear-gradient(#aaa 0, #ddd 10px, #fff 55px);
	border: 1px solid black;
	padding: 10px 20px;
	box-shadow: 5px 0px 30px #000;
	border-radius: 8px;
}

h1 {
	text-align: center;
	color: #222;
	margin: 0 0 30px;
}

.button {
	color: #333;
	background: linear-gradient(#eee, #ddd);
	border: 1px solid #222;
	border-radius: 3px;
	padding: 7px;
	margin-right: 5px;
	transition: .3s;
	font-family: ubuntu, sans-serif;
	font-size: 1em;
}

.button:active {
	background: linear-gradient(#ddd, #eee);
}

.button:hover, button:focus {
	box-shadow: 0 0 2px #222;
}

#execute {
	margin-top: 5px;
	min-width:100px;
}

.CodeMirror {
  border: 1px solid #222;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.error {
	color:red;
	transition:.5s;
	overflow:hidden;
}

#output {
	overflow: auto;
}

table {
	width:auto;
	margin:auto;
	border:1px solid black;
 	border-collapse:collapse;
 	margin-bottom:10px;
}

th, td {
	border:1px solid #777;
}

footer {
	font-size:.8em;
	color: #222;
}




#targetArea {
  height: 100px;
  background-color: LightGray;
  font-family: monospace;
}
#buttonArea{
  margin-top: 5px;
}


.buttonArea button{
 display: inline-block;
 padding: 0.35em 1.0em;
 border: 0;
 border-bottom: 0.2em  solid darkblue;
 margin: 0 0.3em 0.3em 0;
 border-radius: 0.12em;
 box-sizing: border-box;
 text-decoration: none;
 font-family: monospace;
 font-weight: 300;
 color: darkblue;
 text-align: center;
 transition: all 0.2s;
 background-color: #fff;
 font-size: 1.3em;
  
}
.buttonArea button:hover{
  
  background-color: lightblue;
}
.buttonArea select{
 display: inline-block;
 padding: 0.35em 1.0em;
 border: 0;
 border-bottom: 0.2em  solid darkblue;
 margin: 0 0.3em 0.3em 0;
 border-radius: 0.12em;
 box-sizing: border-box;
 text-decoration: none;
 font-family: monospace;
 color: darkblue;
 text-align: center;
 transition: all 0.2s;
 background-color: #fff;
 font-size: 1.3em;
   min-width: 5em;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  
}
.buttonArea select:hover{
	  background-color: lightblue;
}

#debug{
  border: 1px solid Gray;
}
.active {
  background-color: LightBlue;
}

