html {
    background: #222;
    margin: auto;
    width: 80%;
}

body {
    background: linear-gradient(#aaa 0, #ddd 10px, #fff 55px);
    border: 1px solid black;
    padding: 10px 20px;
    box-shadow: 5px 0px 30px #000;
    border-radius: 8px;
}

h1 {
    color: #222;
    margin: 0 0 30px;
}

.button {
    color: #333;
    background: linear-gradient(#eee, #ddd);
    border: 1px solid #222;
    border-radius: 3px;
    padding: 7px;
    margin-right: 5px;
    transition: .3s;
    font-family: ubuntu, sans-serif;
    font-size: 1em;
}

.button:active {
    background: linear-gradient(#ddd, #eee);
}

.button:hover,
.button:focus {
    box-shadow: 0 0 2px #222;
}

#execute {
    margin-top: 5px;
    min-width: 100px;
}

.CodeMirror {
    border: 1px solid #222;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.error {
    color: red;
    transition: .5s;
    overflow: hidden;
}

#output {
    overflow: auto;
}

table {
    width: auto;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid #777;
}

footer {
    font-size: .8em;
    color: #222;
}

.buttonArea {
    margin-top: 5px;
    font-family: monospace;
    font-size: 1.3em;
}

.buttonArea button,
.buttonArea input {
    display: inline-block;
    padding: 0.35em 1.0em;
    border: 0;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.18em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    background-color: #fff;
}

.buttonArea input {
    width: 5em;
}

.buttonArea select {
    appearance: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    border: none;
    border-radius: 0.18em;
    padding: 0.35em 1.0em;
    margin: 0 0.3em 0.3em 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0.1em;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    width: min-content;
}


/* Gilt nur für Chrome, nötig um den Pfeil im Dropdown hinzubekommen */

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .buttonArea select {
        appearance: none;
    }
}

.buttonArea select::-ms-expand {
    display: none;
}

.buttonArea select:invalid,
.buttonArea select.sqlSelect:invalid,
.buttonArea select.sqlWhere:invalid {
    color: gray;
}

.buttonArea select:hover,
.buttonArea button:hover {
    background-color: lightskyblue;
}

.buttonArea input:focus {
    outline: none;
    background-color: lightskyblue;
}


/* Einfärbung für SELECT*/

.buttonArea .sqlSelect {
    display: inline-block;
    border-bottom: 0.2em solid midnightblue;
    color: midnightblue;
}

.buttonArea select.sqlSelect {
    background-image: url("data:image/svg+xml;utf8,<svg fill='midnightblue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.buttonArea button.sqlSelect {
    border-bottom: 0.2em solid midnightblue;
    color: midnightblue;
}


/*Einfärbung für WHERE*/

.buttonArea .sqlWhere {
    display: inline-block;
    border-bottom: 0.2em solid mediumblue;
    color: mediumblue;
}

.buttonArea select.sqlWhere {
    background-image: url("data:image/svg+xml;utf8,<svg fill='mediumblue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.buttonArea button.sqlWhere {
    border-bottom: 0.2em solid mediumblue;
    color: mediumblue;
}


/*Einfärbung für ORDER*/

.buttonArea .sqlOrder {
    display: inline-block;
    border-bottom: 0.2em solid royalblue;
    color: royalblue;
}

.buttonArea select.sqlOrder {
    background-image: url("data:image/svg+xml;utf8,<svg fill='royalblue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.buttonArea button.sqlOrder {
    border-bottom: 0.2em solid royalblue;
    color: royalblue;
}


/*Einfärbung für GROUP*/

.buttonArea .sqlGroup {
    display: inline-block;
    border-bottom: 0.2em solid dodgerblue;
    color: dodgerblue;
}

.buttonArea select.sqlGroup {
    background-image: url("data:image/svg+xml;utf8,<svg fill='dodgerblue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.buttonArea button.sqlGroup {
    border-bottom: 0.2em solid dodgerblue;
    color: dodgerblue;
}


/*Einfärbung für JOIN*/

.buttonArea .sqlJoin {
    display: inline-block;
    border-bottom: 0.2em solid deepskyblue;
    color: deepskyblue;
}

.buttonArea select.sqlJoin {
    background-image: url("data:image/svg+xml;utf8,<svg fill='deepskyblue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.buttonArea button.sqlJoin {
    border-bottom: 0.2em solid deepskyblue;
    color: deepskyblue;
}


/* Einfärbung für Conditions */

.buttonArea select.selOperators,
.buttonArea button.btnAND,
.buttonArea button.btnOR,
.buttonArea button.btnLeftBracket,
.buttonArea button.btnRightBracket {
    color: green;
}


/* Einfärbung für Aggregate Functions */

.buttonArea select.selAggregate {
    color: indigo;
}


/* Code Coloring */

.codeArea {
    height: 100px;
    background-color: LightGray;
    font-family: monospace;
    font-size: 1.3em;
}

.codeArea .synSQL {
    color: steelblue;
}

.codeArea .synTables {
    color: cadetblue;
}

.codeArea .synColumns {
    color: tomato;
}

.codeArea .synOperators {
    color: orchid;
}

.codeArea .synBrackets {
    color: indigo;
}

.codeArea .synValues {
    color: goldenrod;
}

#debug {
    border: 1px solid Gray;
}

.active {
    background-color: LightBlue;
}